body{
  width: auto;
}

video{
  width: auto !important;
  min-height: 100%;
  position: relative;

}
.player-wrapper {
	position: relative;
}

.video-wrapper{
  position: relative;
  max-width: 100%;
  overflow-x: scroll;
}

#control-buttons-container {
	margin: 0 auto;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.control-buttons{
	float: left;
	margin: 1px;
	z-index: 1000;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	background: -webkit-linear-gradient(left top, rgba(255,255,255,0.8), rgba(255,255,255,0.3)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, rgba(255,255,255,0.8), rgba(255,255,255,0.3)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, rgba(255,255,255,0.8), rgba(255,255,255,0.3)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, rgba(255,255,255,0.8), rgba(255,255,255,0.3)); /* Standard syntax */
}
