video{
  width: auto !important;
  min-height: 100%;
  position: relative;

}

.video-wrapper{
  position: relative;
}
#control-buttons-container {
	left: 50%;
	position: absolute;
	bottom: 0;

}

.control-buttons{
	float: left;
	z-index: 1000;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	text-align: center;
	background-color: rgba(255,255,255,0.5);


}
